@charset "utf-8";
/* CSS Document */
html{overflow-x:hidden;overflow-y: auto;}
body {overflow-x:hidden; height:100%; margin:0px; padding:12px; background:#fff; font:14px "宋体" arial; color:#000; line-height:24px;}
form, div, p, dl, dt, dd, pre, fieldset, blockquote, th, td { margin:0px auto; padding:0px; }
dl, ul, ol, li { list-style:none; margin:0px; padding:0px; }
a{color:#000;text-decoration:none;}
a:hover{color:#f00;text-decoration:underline;}
li{text-indent:46px;}
h1, h2, h3, h4, h5, h6 { margin:0; padding:0; }
img { border:0; margin:0px; padding:0px; }
h1,h2,h3{ font-size:16px; font-weight:bold; color:#000; line-height:40px;}
h2{ font-size:15px; line-height:36px;}
h3{
	font-size:14px;
	line-height:30px;
	text-indent: 12px;
}
h4{
	font-size:14px;
	text-indent:18px;
	font-weight:normal;
}
.context-menu{background-color:white;z-index:100;position: absolute;width:200px;padding:10px;font-size:12px;}
.underline{text-decoration:underline;}
.page-part{cursor:pointer;text-align:left;}
.page-part{ padding:16px;padding-top:6px; margin-bottom:8px; border:solid 1px #fff; }
.page-part div.emphasis{border:dotted 1px #400080;background:url(../images/default/emphasis.png) no-repeat 8px 8px;padding:2px 3px 3px 53px;text-indent:0px}
.page-part div.emphasis p{ text-indent:0px; }
.part-selected,.page-part:hover,.part-mouseover{ background-color:#fffaf2; border:solid 1px #ecb046; }
.current-part-label{color:#ecb046;font-weight:bold;font-size:15px;display:block;}
.flash-obj{ border:solid 1px #e5e5e5;background:#fff url(../images/default/hand_write.gif) no-repeat right top;margin-bottom:6px;cursor:default}
.question-id{color:#fc7904;}
.question{}
.question-action-bar{margin-left:20px;clear:both;}
.answer{border:solid 1px #e5e5e5;margin-bottom:6px;}
.question .label{font-weight:bold;font-size:14px}
.knowledge-point{ color:#fc7904;}
.complete-status-completed{background:url(../images/default/completed.gif) no-repeat right top;}
.complete-status-uncomplete{background:url(../images/default/incomplete.gif) no-repeat right top;}
.error-correction{color:red;}
.return{background:url(../images/default/return.gif) no-repeat left center;padding-left:20px;}
.wma{background:url(../images/default/wma.gif) no-repeat left center;padding-left:20px;}
.zip{background:url(../images/default/zip.gif) no-repeat left center;padding-left:20px;}
.doc{background:url(../images/default/ms_word.gif) no-repeat left center;padding-left:20px;}
.ppt{background:url(../images/default/ppt.gif) no-repeat left center;padding-left:20px;}
.pdf{background:url(../images/default/pdf.gif) no-repeat left center;padding-left:20px;}
.mp3{background:url(../images/default/mp3.gif) no-repeat left center;padding-left:20px;}
button{text-indent:0;margin:0;padding:0;height:17px;border:solid 1px #95d2d1;line-height:17px;background:url(../images/default/btns_bg.gif) repeat-x left top;text-align:center;color:#000;margin-right:10px;}
table.default{border-collapse: collapse;}
table.default th{color:#222;}
table.default td,table.default th{border: solid 1px #999;padding:4px;}
table.style1{border-collapse: collapse;}
table.style1 th{color:#222;}
table.style1 td{border: solid 1px #999;padding:4px;}
body{-moz-user-select:none;}
.embeded_video{background:url(../images/default/video-play.gif) no-repeat left center;cusor:pointer;padding-left:18px;color:#fc7904;display:block;min-height:20px;}
.part_hide{}
.part_hide .header{color:#fc7904;cusor:pointer;padding-left:18px;}
.part_hide .hide{background:url(../images/default/plus_minus_icons.gif) no-repeat -4px 2px;}
.part_hide .show{background:url(../images/default/plus_minus_icons.gif) no-repeat -4px bottom;}
.part_hide .body{display:none;}
em{font-size: 16px;font-weight: bold;color: #FF6600;background-color: #CCCCCC;font-style:normal;font-family: Arial, Helvetica, sans-serif;}
.ciptc_handwrite{
	background-color:#CCCCCC;
	color:FFFFFF;
	padding:3px 4px;
	cursor:pointer;
}
.ciptc_handwrite:hover{
	background-color:#AAAAAA;
}